<div id="footer">
	<img src="{{ asset('bundles/kaymoreyportfolio/images/nav/logo.png') }}" alt="" class="logo" />
	<nav>
		<div class="nav">
		<ul>
			<li class="active">
				<a href="#home" class="hello">Bonjour</a>
			</li>
			<li>
				<a href="#who-i-am" class="who-i-am">Qui suis-je ?</a>
			</li>
			<li>
				<a href="#projects" class="projects">Mes projets</a>
			</li>
			<li>
				<a href="#contact" class="contact">Contact</a>
			</li>
		</ul>
	</div>
	</nav>
	<div id="social">
		<a href="https://twitter.com/kaymorey" target="_blank" class="social-tooltip twitter" data-placement="top" rel="tooltip" data-original-title="Suivez moi sur twitter">
			<img src="{{ asset('bundles/kaymoreyportfolio/images/nav/twitter.png') }}" alt="twitter" class="twitter" />
		</a>
		<a href="http://protonlibre.wordpress.com/" target="_blank" class="social-tooltip wordpress" data-placement="top" rel="tooltip" data-original-title="Mon blog">
			<img src="{{ asset('bundles/kaymoreyportfolio/images/nav/wordpress.png') }}" alt="wordpress" class="wordpress"/>
		</a>
		<a href="http://www.linkedin.com/profile/view?id=180264438" target="_blank" class="social-tooltip linkedin" data-placement="top" rel="tooltip" data-original-title="Mon profil Linkedin">
			<img src="{{ asset('bundles/kaymoreyportfolio/images/nav/linkedin.png') }}" alt="linkedin" class="linkedin" />
		</a>
	</div>
</div>