<div id="footer">
    <div id="left">
       <img src="http://fakeimg.pl/81x84/" id="profile" alt="" />
       <p id="profile-text">
          Je m’appelle <span class="blue">Katia Moreira</span>. Je suis étudiante en 1ère année à l‘école d’ingénieur <span class="blue">IMAC</span> (Image, Multimedia, Audiovisuel, Communication) et je tends à devenir <span class="blue">développeuse web</span>. Je vous invite à découvrir mes travaux sur ce site.
       </p>
    </div>
    <div id="twitter_update_list">
        <div id="head">
            <img src="http://purl.org/net/spiurl/kaymorey" alt="" />
            <a href="https://twitter.com/kaymorey" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @kaymorey</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>