<div>
		<img src="http://fakeimg.pl/81x84/" id="profile" alt="" />
		<p id="profile-text">
			Je m’appelle <span class="blue">Katia Moreira</span>. Je suis étudiante en 1ère année à l‘école d’ingénieur <span class="blue">IMAC</span> (Image, Multimedia, Audiovisuel, Communication) et je tends à devenir <span class="blue">développeuse web</span>. Je vous invite à découvrir mes travaux sur ce site.
		</p>
</div>