<div id="footer">
	<img src="{{ asset('bundles/kaymoreyportfolio/images/nav/logo.png') }}" alt="" class="logo" />
	<nav>
		<div class="nav">
		<ul>
			<li>
				<a href="#home" class="hello">Bonjour</a>
			</li>
			<li>
				<a href="#who-i-am" class="who-i-am">Qui suis-je ?</a>
			</li>
			<li>
				<a href="#projects" class="projects">Mes projets</a>
			</li>
			<li>
				<a href="#contact" class="contact">Contact</a>
			</li>
		</ul>
	</div>
	</nav>
	<div id="social">
		<a href="#">
			<img src="{{ asset('bundles/kaymoreyportfolio/images/nav/twitter.png') }}" alt="twitter" class="twitter" />
		</a>
		<a href="#">
			<img src="{{ asset('bundles/kaymoreyportfolio/images/nav/wordpress.png') }}" alt="wordpress" class="wordpress"/>
		</a>
		<a href="#">
			<img src="{{ asset('bundles/kaymoreyportfolio/images/nav/linkedin.png') }}" alt="linkedin" class="linkedin" />
		</a>
	</div>
</div>