<nav id="header">
        <ul id="menu">
            <li><a href="#">profil</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        <div id="social">
            <a href="https://twitter.com/kaymorey" class="twitter"></a>
            <a href="http://www.linkedin.com/profile/view?id=180264438" class="linkedin"></a>
            <a href="http://www.protonlibre.wordpress.com" class="blog"></a>
        </div>
</nav>