{% extends 'KaymoreyPortfolioBundle::layout.html.twig' %}
{% block content %}
<img src="{{ asset('bundles/kaymoreyportfolio/images/logo.png') }}" alt="" />
<div id="twitter_update_list">
</div>
{% endblock %}
