/* Katia Moreira - Portfolio - created with LESS - LESS is MORE */
.kreon {
  font-family: 'Kreon', Arial, sans-serif;
}
/* ---- ELEMENTS GENERAUX ---- */
.uppercase {
  text-transform: uppercase;
}
.black {
  color: #292929;
}
.clear {
  clear: both;
}
strong {
  font-weight: 700;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Kreon', Arial, sans-serif;
  color: #FFF;
}
a {
  text-decoration: none;
}
/* ---- CONTENT ---- */
#content {
  /* ---- Rubriques ---- */

}
#content #home {
  background-color: #2688c5;
}
#content #home .content {
  position: relative;
  top: 15%;
  left: 0;
}
#content #home #logo {
  text-align: center;
}
#content #home h1 {
  font-size: 36px;
  text-align: center;
  line-height: 40px;
}
#content #who-i-am {
  background-color: #eb5c10;
}
#content #who-i-am .left {
  margin: 50px 50px 0px 0px;
  width: 35%;
  border: none;
}
#content #who-i-am .left p {
  width: 280px;
  text-align: center;
  font-size: 0.85em;
  line-height: 1.1em;
}
#content #who-i-am .left p img {
  padding-bottom: 20px;
}
#content #who-i-am .left p .bigger {
  font-size: 1.1em;
}
#content #who-i-am .left .cv {
  display: block;
  background: url("/bundles/kaymoreyportfolio/images/cv-circle.png") no-repeat;
  width: 58px;
  height: 58px;
  color: #FFF;
  font-size: 22px;
  margin: 15px 0px 0px 117px;
  padding-top: 17px;
}
#content #who-i-am .right {
  margin-top: 75px;
}
#content #who-i-am .right img {
  float: left;
}
#content #who-i-am .right h3 {
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 7px;
}
#content #who-i-am .right #skills {
  margin-bottom: 38px;
}
#content #who-i-am .right .content {
  margin-top: 30px;
  font-size: 0.85em;
}
#content #who-i-am .right .content .legend {
  width: 125px;
  float: left;
  padding-bottom: 1px;
}
#content #who-i-am .right .content p {
  padding-bottom: 15px;
}
#content #projects {
  background-color: #1aa88c;
}
#content #projects .content {
  margin-top: 50px;
}
#content #projects .content ul {
  float: left;
  margin: 50px 80px 0px 0px;
  height: 300px;
}
#content #projects .content ul li.active {
  list-style-type: disc;
}
#content #projects .content ul li:hover {
  list-style-type: disc;
}
#content #projects .content ul a {
  color: #FFF;
}
#content #projects .content .projects figure {
  float: left;
  margin: 0px 28px 25px 0px;
  position: relative;
}
#content #projects .content .projects figure .see-more {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#content #projects .content .projects figure figcaption {
  color: #FFF;
}
#content #projects .content .projects figure .skills {
  color: #FFF;
  font-size: 13.5px;
  font-weight: 300;
}
#content #contact {
  background-color: #eb4444;
}
#content #contact .content {
  margin-top: 25px;
}
#content #contact .content .content-center {
  margin: 50px auto 0px auto;
  width: 85%;
}
#content #contact .content h3 {
  font-size: 20px;
  text-align: center;
}
#content #contact .content h3 .bigger {
  font-size: 27px;
}
#content #contact .content .left {
  float: left;
  border-right: solid #FFF 1px;
  width: 49%;
}
#content #contact .content .left form input,
#content #contact .content .left form textarea {
  margin-bottom: 8px;
  background-color: #eb4444;
  border: solid #FFF 2px;
  color: #FFF;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 12px;
}
#content #contact .content .right {
  width: 100%;
  padding-top: 25px;
  padding-left: 20px;
}
#content #contact .content .right p {
  text-align: center;
}
#content #contact .content .right p.mail {
  margin-bottom: 50px;
}
#content .page-content {
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 20px;
}
#content .page-title {
  border-bottom: solid #FFF 1px;
  padding-bottom: 10px;
  width: auto;
  font-size: 20px;
  width: 100px;
}
/* ---- FANCYBOX ---- */
.projet-url {
  background-color: #1aa88c;
  color: #FFF;
  padding: 5px 8px;
  margin-top: 5px;
}
/* ---- FOOTER ---- */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  height: 53px;
}
footer #footer {
  width: 80%;
  margin: 0 auto 0 auto;
}
footer #footer .logo {
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}
footer nav {
  vertical-align: middle;
}
footer nav li {
  float: left;
}
footer nav li.active a.hello {
  color: #FFF;
  background-color: #2688c5;
}
footer nav li.active a.who-i-am {
  color: #FFF;
  background-color: #eb5c10;
}
footer nav li.active a.projects {
  color: #FFF;
  background-color: #1aa88c;
}
footer nav li.active a.contact {
  color: #FFF;
  background-color: #eb4444;
}
footer nav li a {
  display: block;
  width: 100px;
  padding: 19px 0 19px 0;
  text-align: center;
}
footer nav li a.hello {
  color: #2688c5;
}
footer nav li a.hello:hover {
  color: #FFF;
  background-color: #2688c5;
}
footer nav li a.who-i-am {
  color: #eb5c10;
}
footer nav li a.who-i-am:hover {
  color: #FFF;
  background-color: #eb5c10;
}
footer nav li a.projects {
  color: #1aa88c;
}
footer nav li a.projects:hover {
  color: #FFF;
  background-color: #1aa88c;
}
footer nav li a.contact {
  color: #eb4444;
}
footer nav li a.contact:hover {
  color: #FFF;
  background-color: #eb4444;
}
footer #social {
  float: right;
  padding-top: 8px;
}
footer #social a {
  display: inline-block;
}
footer #social a.twitter {
  padding-top: 4px;
}
footer #social a.linkedin {
  padding-top: 1px;
}
footer #social a.twitter,
footer #social a.wordpress {
  margin-right: 10px;
}
footer #social img.wordpress {
  position: relative;
  top: 2px;
  left: 0px;
}
footer #social .tooltip {
  font-family: Helvetica, Arial, sans-serif;
}
footer #social .tooltip .tooltip-inner {
  padding: 10px 8px;
}
