/* Katia Moreira - Portfolio - created with LESS - LESS is MORE */
@blue: #2688c5;
@orange: #eb5c10;
@green: #1aa88c;
@red: #eb4444;
@black: #292929;

.kreon {
	font-family: 'Kreon', Arial, sans-serif;
}
.background-img (@url) {
	background: url("/bundles/kaymoreyportfolio/images/@{url}") no-repeat;
}

/* ---- ELEMENTS GENERAUX ---- */
.uppercase {
	text-transform: uppercase;
}
.black {
	color: @black;
}
.clear {
	clear: both;
}
strong {
	font-weight: 700;
}
body {
	width: 100%;
	height: 100%;
	.kreon;
	color: #FFF;
}
a {
	text-decoration: none;
}

/* ---- CONTENT ---- */
#content {
	#home {
		background-color: @blue;
		.content {
			position: relative;
			top: 15%;
			left: 0;
		}
		#logo {
			text-align: center;
		}
		h1 {
			font-size: 36px;
			text-align: center;
			line-height: 40px;
		}
	}
	#who-i-am {
		background-color: @orange;
		.left {
			margin: 50px 50px 0px 0px;
			width: 35%;
			border: none;
			p {
				width: 280px;
				text-align: center;
				font-size: 0.85em;
				line-height: 1.1em;
				img {
					padding-bottom: 20px;
				}
				.bigger {
					font-size: 1.1em;
				}
			}
			.cv {
				display: block;
				.background-img("cv-circle.png");
				width: 58px;
				height: 58px;
				color: #FFF;
				font-size: 22px;
				margin: 15px 0px 0px 117px;
				padding-top: 17px;
			}
		}
		.right {
			margin-top: 75px;
			img {
				float: left;

			}
			h3 {
				font-size: 20px;
				position: relative;
				top: 5px;
				left: 7px;
			}
			#skills {
				margin-bottom: 38px;
			}
			.content {
				margin-top: 30px;
				font-size: 0.85em;
				.legend {
					width: 125px;
					float: left;
					padding-bottom: 1px;
				}
				p {
					padding-bottom: 15px;
				}
			}
		}
	}
	#projects {
		background-color: @green;
		.content {
			margin-top: 50px;
			ul {
				float: left;
				margin: 50px 80px 0px 0px;
				height: 300px;
				li {
					&.active {
						list-style-type: disc;
					}
					&:hover {
						list-style-type: disc;
					}
				}
				a {
					color: #FFF;
				}
			}
			.projects {
				figure {
					float: left;
					margin: 0px 28px 25px 0px;
					position: relative;
					.see-more {
						position: absolute;
						top: 0;
						left: 0;
						opacity: 0;
					}
					figcaption {
						color: #FFF;
					}
				}
			}
		}
	}
	#contact {
		background-color: @red;
		.content {
			margin-top: 25px;
			.content-center {
				margin: 50px auto 0px auto;
				width: 85%;
			}
			h3 {
				font-size: 20px;
				text-align: center;
				.bigger {
					font-size: 27px;
				}
			}
			.left {
				float: left;
				border-right: solid #FFF 1px;
				width: 49%;
				form {
					input, textarea {
						margin-bottom: 8px;
						background-color: @red;
						border: solid #FFF 2px;
						color: #FFF;
						font-family: "Lucida Grande", Arial, sans-serif;
						font-size: 12px;
					}
				}
			}
			.right {
				width: 100%;
				padding-top: 25px;
				padding-left: 20px;
				p {
					text-align: center;
					&.mail {
						margin-bottom: 50px;
					}
				}
			}
		}
	}
	/* ---- Rubriques ---- */
	.page-content {
		width: 90%;
		margin: 0 auto 0 auto;
		padding-top: 20px;
	}
	.page-title {
		border-bottom: solid #FFF 1px;
		padding-bottom: 10px;
		width: auto;
		font-size: 20px;
		width: 100px;
	}
}
/* ---- FOOTER ---- */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #FFF;
	height: 53px;
	#footer {
		width: 80%;
		margin: 0 auto 0 auto;
		.logo {
			float: left;
			padding-right: 20px;
			padding-top: 5px;
		}
	}
	nav {
		vertical-align: middle;
		li {
			float: left;
			&.active {
				a {
					&.hello {
						color: #FFF;
						background-color: @blue;
					}
					&.who-i-am {
						color: #FFF;
						background-color: @orange;
					}
					&.projects {
						color: #FFF;
						background-color: @green;
					}
					&.contact {
						color: #FFF;
						background-color: @red;
					}
				}
			}
			a {
				display: block;
				width: 100px;
				padding: 19px 0 19px 0;
				text-align: center;
				&.hello {
					color: @blue;
					&:hover {
						color: #FFF;
						background-color: @blue;
					}
				}
				&.who-i-am {
					color: @orange;
					&:hover {
						color: #FFF;
						background-color: @orange;
					}
				}
				&.projects {
					color: @green;
					&:hover {
						color: #FFF;
						background-color: @green;
					}
				}
				&.contact {
					color: @red;
					&:hover {
						color: #FFF;
						background-color: @red;
					}
				}
			}
		}
	}
	#social {
		float: right;
		padding-top: 8px;
		a {
			display: inline-block;
			&.twitter {
				padding-top: 4px;
			}
			&.linkedin {
				padding-top: 1px;
			}
			&.twitter, &.wordpress {
				margin-right: 10px;
			}
		}
		img {
			&.wordpress {
				position: relative;
				top: 2px;
				left: 0px;
			}
		}
		.tooltip {
			font-family: Helvetica, Arial, sans-serif;
			.tooltip-inner {
				padding: 10px 8px;
			}
		}
	}
}